.container{
	background-color: #ffeead;
}
.dateSent{
	border:red;
}
.subjectBody{
	border: 3px;
	border-color:red;
	padding:
}
.mainBody{
	border: 1px solid white;
	padding: 5px;
	display: none;
}
.senderName{
	padding:

}
#heading{
	text-align:center;
	text-shadow:5px 5px white;
}
#newSubjectBody{
	background-color: red;
}
