.container{
	border: 5px solid blue;
	background-color: grey;
	padding: 5px;
	font-family: 'VT323', monospace;
}
.subjectBody{
	border: 7px solid red;
	padding: 5px;

}
.mainBody{
	border: 3px solid yellow;
	padding: 5px;
	display: none;
	text-align:center;
	text-shadow: 3px 3px yellow

}
.senderName{
	border: 5px solid green;
	padding: 5px;
}
